
<ion-content>
    <ion-item>
        <ion-title>Sensor</ion-title>
    </ion-item>
     
  <ion-grid>
    <ion-row>
      <ion-col>
        
        <ion-list>
          <ion-item>
            <ion-label>Temperatura-Superficie</ion-label>
            <ion-icon color="success" name="checkmark-circle"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>Temperatura-Substrato</ion-label>
            <ion-icon color="success" name="checkmark-circle"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>Temperatura-Coluna d'agua</ion-label>
            <ion-icon color="success" name="checkmark-circle"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>Oxigênio Dissolvido</ion-label>
            <ion-icon color="success" name="checkmark-circle"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>PH</ion-label>
            <ion-icon color="danger" name="alert"></ion-icon> 
          </ion-item>
          <ion-item>
              <ion-label>Condutividade</ion-label>
              <ion-icon color="danger" name="alert"></ion-icon> 
            </ion-item>
          <ion-item>
            <ion-label>Salinidade</ion-label>
            <ion-icon color="success" name="checkmark-circle"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>Amônia</ion-label>
            <ion-icon color="danger" name="alert"></ion-icon> 
          </ion-item>
            
        </ion-list>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
