page-dashboard {
 /*
*****************************************************
    STYLESHEET OF DIV PHYSICO-CHEMICAL DATA
*****************************************************
 */

 /*
 *****************************************************
  tablet fit
 *****************************************************
 */
 @media(min-width: 768px)
 {
    .center  ion-card ion-card-content h1
    {
        position: absolute;
        left: 5.5em !important;
        top: 3em !important;
    }
    .center  ion-card ion-card-header p{
        left: 8em !important;
    }
    .center ion-card-header .phHeader
    {
        //position: relative !important;
        left: 11.5em !important;
    }
    ._data
    {
        position: relative;
        left: 6.3em !important;
    }
    ._label
    {
       font-size: 2em !important;
       position: absolute;
       left: 0.70em !important;
       margin-top: 0.10em !important;
       
    }

    .ph
    {
        //position: absolute;
        left: 6em !important;
        top: 3em !important;
    }
   #spec ion-card-header
   {
       height: 200px !important;
   }

   .species h3, h4
   {
     font-size: 150% !important;
   }

   .species button
   {
     position: absolute !important;
     right: 4px !important;
     bottom: 1em;
   }
   .fish
   {
     width: 20em !important;
     height: 10em !important;
     margin-left: 1.5em;
   }
 }

 @media(max-width:766px)
 {

    .phHeader
    {
        left: 4.5em !important; 
    }
    .ph
    {
        font-size: 2.5em !important; 
        left: 1em !important; 
        top: 1.9em !important;
    }

   .species button
   {
     position: relative;
     left: 13em;
     top: 5em;
   }
   .species button span{
     color: #151515 !important;
   }
 }


   ion-card-header p
   {
     color: #fff !important;
     font-weight: bold;
   }

    ion-navbar
    {
        height: 10px !important;
        border: none !important;
    }

    #dados
    {
        /*background-color: red;*/
        padding: 10px;
    }

    .center
    {
        /*margin-left: 3% !important;*/
        margin-left: 4%;
        width: 99%;
    }

    .center ion-card
    {
        width: 46% !important;
        height: 150px;
        /*margin-right: 4px !important;*/
        margin-left: 0 !important;
        margin-right: 5px !important;
        margin-bottom: 5px !important;
        display: inline-block !important;
        /*border: 1px red dashed;*/
    }

    .center  ion-card-header
    {
        height: 1em;
        position: relative
    }

    .center ion-card-header p
   {
       position: absolute;
       top: 5px;
       left: 2em;
       text-align: top;
       vertical-align: top;
   }

    #tempCardContent {height: 100%;}

    #tempCardContent div{
        display: inline;
        width: fit-content !important;
    }

    #tempCardContent div span
    {
       display: block;
       /*font-size: 0.90em !important;*/
       font-weight: bold;
       text-align: center;
    }

    ._data
    {
       font-size: 1.5em !important;
       position: relative;
       left: 2em;
       top:0.2em;
       margin-bottom: 5px
    }

     ._label
    {
       font-size: 0.70em !important;
       position: absolute;
       left: 0.50em;
    }


    ion-card-content
    {
        height: 100% !important;
    }

    .center h1
    {
        height: 60px;
        width: 80px;
        text-align: center;
        vertical-align: center;
        /*border: 1px solid red;*/
        position: absolute;
        top: 2.6em;
        left: 25%;

    }

    .center h1, ._data, ._label
    {
       color: #4B4B4D !important;
    }


   /*
   *****************************************************
       STYLESHEET OF DIV SPECIES DATA
   *****************************************************
    */

     #spec ion-card-header
     {
         height: 140px;
     }

     .species img
     {
       position: absolute;
       top: 20px;
       left: 5px;
       width: 50%;
       height: 60%;
     }

     .species ion-card-content ion-item
     {
       color: #151515 !important;
     }
     .species h3, h4
     {
       color: #151515 !important;
     }

     .species h3, h4
     {
       float: right !important;
     }

     .species h4
     {
       display: inline-block;
       position: absolute;
       top: 40px;
       right: 15px;
     }


     /*
     ************************************************************
       STYLESHEET OF DEVICE SEGMENRT
     ************************************************************
     */

     #deviceList ion-card-content
     {
         padding-left: 10px;
         padding-right: 10px;
     }

   #deviceList ion-item span{
       font-family: "Arial, Roboto", sans-serif;
   }

   .fontStyleDevice
   {
       color: #151515 !important;
   }

}
