<ion-header id="header">
  <ion-navbar>
    <!--<ion-title>
      <span class="titleApp white">Piscicultura Brasil</span>
    </ion-title>-->
    <ion-title>
      <div class="imgTitle">
          <img style="position:absolute; left:0.5em; top: -0.9em !important;" src="../../assets/icon/logo.png"/>
          <!--<span class="titleWapi">Wapi</span>-->
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="showSearch">
    <ion-searchbar placeholder="Reservatório"></ion-searchbar>
  </div>


  <ion-list>
    <ion-list-header>
      <h6>RESERVATÓRIOS</h6>
      <ion-icon
        (click)="showSearchbar()"
        name="search"
        style="font-size: 20px; float: right"
      ></ion-icon>
    </ion-list-header>

    <ion-item *ngFor="let specie of species; let i = index;" (click)="pushMonitoring()">
      <!--<span id="tank_id" item-left>{{i}}</span>-->
      <p>{{i+1}}  {{specie}}</p>
      <ion-icon name="ios-menu-outline" item-right></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let c of data" >
      <p>Id: {{c.key}}</p>  
      <p>Nome: {{c.name_popular}}</p>
    </ion-item>
  </ion-list>
  

</ion-content>
