page-home {

  /*{
    font-family:"Roboto", "Arial", sans-serif;
  }*/


  .toolbar-background {
    background-color: #2E8B57;
  }

  #branco{
    color: #fff !important;
  }


  ion-header ion-navbar ion-title{
    color: #fff !important;
  }

  .sizeFont
  {
    font-size: 18px;
  }


  #header{

    background-color: #01C851 !important;
    color: #fff !important;
    text-align: center;
  }

  h6{
    margin-top: 10px !important;
    vertical-align: center;
    margin-left: 4%;
    color: #01C851;
    width: inherit !important;
    display: inline-block;
  }

  /*ion-list-header ion-icon
  {
    float: right;
  }*/

  /*#tank_id
  {
    margin-right: 5px;
  }*/

  ion-item
  {
    position: relative !important;
  }

  p, h6, ion-title
  {
    font-family:"Roboto", "Arial", sans-serif;
  }

  p, #tank_id
  {
    font-size: 18px !important;
  }

  /* ERROR LEFT DISTANCE HERE
  ion-item{
    width: 310px !important;
    float: right;
  } */

  /*#tank_id{
    float: left;
    position: relative;
    top: 8px !important;
    vertical-align: bottom;
    right: 15px !important;
  }

  p {
    margin-left: 20px !important;
    vertical-align: center;
    position: absolute;
    left: 30px;
  };*/



}
