<!--
  Generated template for the DevicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>devices</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>
    <ion-list-header>
      <p>Reservatório 01</p>
      <h6 style="display: inline-block">DISPOSITIVOS</h6>
      <h6 style="display: inline-block; float: right">STUATUS</h6>
    </ion-list-header>

    <ion-item *ngFor="let dev of devices; let i = index;">
      <span style="float: left">{{dev}}</span>
      <span style="float: right">{{status[i]}}</span>
    </ion-item>
  </ion-list>
</ion-content>
