ion-card-subtitle{
    text-align-last: center;
    font-size: 30px;
}
ion-card-content ion-icon{
    text-align: end;
    font-size: 20px;
}
ion-card-title{
    font-size: 15px;
}
.medida{
    text-align-last: center;
}
.corheader{
    background: rgba($color:#000000, $alpha: 0.2);
    text-align:center;
}
