<ion-content>
<ion-grid>
   <ion-row>
    <ion-col>
      <ion-card  color="warning">
        <ion-card-header class="corheader" >
          <ion-card-title >TEMPERATURA</ion-card-title><br>
        </ion-card-header>
        <ion-card-content>
            <ion-card-subtitle>29°</ion-card-subtitle><br>
            <ion-icon color="light" name="alert"></ion-icon>
          </ion-card-content>
      </ion-card>
    </ion-col>
    
    <ion-col>
      <ion-card color="primary">
        <ion-card-header class="corheader" >
          <ion-card-title class='titulo'>OXIGÊNIO DISSOLVIDO</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-card-subtitle>23</ion-card-subtitle>
            <h6 class="medida">mg</h6>
            <ion-icon color="light" name="alert"></ion-icon>
          </ion-card-content>
      </ion-card>
    </ion-col>
    
  </ion-row>
  <ion-row >
      <ion-col>
        <ion-card color="dark">
          <ion-card-header class="corheader">
            <ion-card-title>PH</ion-card-title><br>
          </ion-card-header>
          <ion-card-content>
              <ion-card-subtitle>3</ion-card-subtitle>
              <br>
              <ion-icon color="light" name="alert"></ion-icon>
            </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header class="corheader">
            <ion-card-title>AMÔNIA</ion-card-title><br>
          </ion-card-header>
          <ion-card-content>
              <ion-card-subtitle>0,01</ion-card-subtitle>
              <h6 class="medida">mg/L</h6>
              <ion-icon color="light" name="alert"></ion-icon>
            </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-card color="medium">
            <ion-card-header class="corheader">
              <ion-card-title>CONDUTIVIDADE</ion-card-title><br>
            </ion-card-header>
            <ion-card-content>
                <ion-card-subtitle>6</ion-card-subtitle>
                <h6 class="medida">m$/cm</h6>
                <ion-icon color="light" name="alert"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
        <ion-col>
          <ion-card color="success" >
            <ion-card-header class="corheader">
              <ion-card-title>SALINIDADE </ion-card-title><br>
              
            </ion-card-header>
            <ion-card-content>
                <ion-card-subtitle>20</ion-card-subtitle>
                <h6 class="medida">mg/ml</h6>
                <ion-icon color="light" name="alert"></ion-icon>
              </ion-card-content>
          </ion-card>
        </ion-col>
        
      </ion-row>

  </ion-grid>
</ion-content>
