@import url('https://fonts.googleapis.com/css?family=Roboto');
/*{
  font-family: "Arial", "Roboto", sans-serif !important;
  font-weight: bold;
}*/

span{
  color: #fff !important;
}

.species ion-card-content ion-item span{
  color: #151515 !important;
}

.toolbar-background {
  background-color: #2E8B57;
}

.titleWapi
{
  font-family: "Roboto", "Arial", sans-serif;
  color: #fff !important;
}

.imgTitle img
{
  height: 2em !important;
  width: 6em !important;
  vertical-align: center;
  position: relative;
  top: 0.5em;
  left: 1.5em;
  /*float: left;*/
}

.imgTitle span
{
  vertical-align: center;
  position: relative;
  left: 8px;
  top: 10px;
  font-size: 32px !important;
}

.white{color:#fff;}

.fontStyle
{
  font-family: "Roboto", "Arial", sans-serif !important;
  /*font-family: "Arial", "Roboto", sans-serif !important;*/
}
.noticeSuccess{
  color: #007E33 !important;
}
.noticeWarning
{
  color: #CC0000 !important;
}
