page-data {
  #aside
  {
    position: absolute;
    left: 0;
    top: 0;
  }

  .seta-direita:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;

    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #263238;

    position: absolute;
    left: 0;
    top: 40%;
  }

  .seta-direita2:before
  {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;

    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #263238;

    position: absolute;
    left: 70px;
    top: 40%;
  }

  #aside div
  {
    width: 70px;
    height: 70px;
    background-color: #4B515D;
    display: block;
    border: 1px solid #fff;
  }

  #aside div
  {
    color: #fff;
    text-align: center;
    vertical-align: center;
  }

  #buttonData
  {
    width: fit-content;
    margin: auto !important;
  }


  #nivel div
  {
    width: fit-content;
    display: inline-block;
    margin-right: 5px;
  }

  #nivel{
    margin-top: 20px;
  }

  #nivel h5 + div
  {
    display: block;
    width: fit-content;
    /*border: 1px solid green;*/
    margin: auto !important;
  }
  #nivel h5 + div div
  {
    margin-right: 15px;
  }

  #nivel h5 + div span{
    font-size: 16px;
  }

  #nivel h5 + div p
  {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Roboto";
    margin-top: 0px;
  }

  #sta{
    width: fit-content;
    margin: auto;
  }

  #sta p
  {
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
    color: #666;
  }

  #data
  {
    position: relative;
  }
}
