<ion-header>

  <ion-navbar>
    <ion-title>
      <p class="titleApp white"> Piscicultura Brasil</p>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <section id="data">
    <div id="buttonData">
      <button ion-button outlier clear>Dia</button>
      <button ion-button outlier clear>Semana</button>
      <button ion-button outlier clear>Mês</button>
    </div>
    <canvas id="graph" #graph></canvas>
    <div id="sta">
      <p>20ºC<br>MIN</p>
      <p>32ºC<br>MED</p>
      <p>40ºC<br>MAX</p>
    </div>
    <section id="nivel">
      <h5>Últimos dados coletados</h5>
      <div>
          <div>
          <span>Superfície</span>
          <p>40ºC</p>
        </div>
        <div>
          <span>Coluna d'água</span>
          <p>28ºC</p>
        </div>
        <div>
          <span>Substrato</span>
          <p>17ºC</p>
        </div>
      </div>
    </section>
  </section>

  <div id="aside" *ngIf="show">
    <div>T</div>
    <div>T</div>
    <div>T</div>
    <div>T</div>
    <div>T</div>
    <div>T</div>
    <div>T</div>
  </div>

  <div #bshow class="seta-direita" (click)="showAside()" style="height:300px !important;"></div>

</ion-content>
