<ion-header>
  <ion-toolbar color="success">
    <ion-img class="logo" src="/assets/icon/logo.png" style="width:35%" aria-posinset="center"></ion-img>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1 >Resevatórios</h1>
  <ion-searchbar placeholder="Buscar resevatorio"></ion-searchbar> 
  <ion-list>
    <ion-item-sliding (click)="abrirpagina('resevatorio')" >  
          <ion-item>
              <ion-thumbnail slot="start">
                <ion-img src="/assets/img/colorido.jpg"></ion-img>
              </ion-thumbnail>
              <ion-label text-center>Resevatório 1</ion-label>
            </ion-item>
    </ion-item-sliding>
  
    <ion-item-sliding (click)="abrirpagina('resevatorio')" >  
        <ion-item>
            <ion-thumbnail slot="start">
              <ion-img src="/assets/img/colorido.jpg"></ion-img>
            </ion-thumbnail>
            <ion-label text-center>Resevatório 2</ion-label>
          </ion-item>
  </ion-item-sliding>
  <ion-item-sliding (click)="abrirpagina('resevatorio')">  
      <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="/assets/img/colorido.jpg"></ion-img>
          </ion-thumbnail>
          <ion-label text-center>Resevatório 3</ion-label>          
        </ion-item>
  </ion-item-sliding>
  <ion-item-sliding (click)="abrirpagina('resevatorio')">  
      <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="/assets/img/colorido.jpg"></ion-img>
          </ion-thumbnail>
          <ion-label text-center>Resevatório 4</ion-label>        
        </ion-item>
  </ion-item-sliding>
  <ion-item-sliding (click)="abrirpagina('resevatorio')">  
    <ion-item>
        <ion-thumbnail slot="start">
          <ion-img  src="/assets/img/colorido.jpg"></ion-img>
        </ion-thumbnail>
        <ion-label text-center>Resevatório 5</ion-label>  
        <ion-icon color="warning" name="alert"></ion-icon>      
      </ion-item>
</ion-item-sliding>
<ion-item-sliding (click)="abrirpagina('resevatorio')">  
  <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="/assets/img/colorido.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label text-center>Resevatório 6</ion-label>        
    </ion-item>
</ion-item-sliding>
<ion-item-sliding (click)="abrirpagina('resevatorio')">  
  <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="/assets/img/colorido.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label text-center>Resevatório 7</ion-label>
      <ion-icon color="danger" name="alert"></ion-icon>        
    </ion-item>
</ion-item-sliding>
  
  </ion-list>

</ion-content>
